.grad{
    background: linear-gradient( rgb(47, 162, 177), rgb(2, 84, 162));
    max-width: 960px;
    margin: 0 auto;
    width: 100%;

}

.alinha {
    display: table;

}

.alinha .menu {
    display: table-cell;
    width: 30%;
}

.alinha .caixa {
    display: table-cell;
    width: 100%;
    margin-right: 10px; 
}

.alinha .text {
    display: table-cell;
    width: 30%;
    color: white;
    text-align: center;
}